body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* Navbar */
.navbar {
    background: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    font-size: 20px;
}

/* Main Content */
.container {
    margin: 50px auto;
    width: 60%;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

/* Button */
.btn {
    padding: 10px 20px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #555;
}
